---
interface PostHeader{
  section1 :string;
  section2: string;
  link1: string;
  link2: string;
  link3: string;

}
const { section1, section2,link1,link2,link3 } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
 <style>
  @font-face {
      font-family: 'Header_font';
      src: url('../images/fonts/Nightcore.otf');
    }

    #header{
      font-family: "Header_font";
       
    }

 </style>
</head>
<body>
  <div class="text-white relative justify-center flex gap-10 pt-10  text-5xl">
    <a href={link3} id="header" class=" animate__animated animate__slideInDown">Divine</a>
  </div>
    <div class="text-white relative justify-center flex gap-10 pt-10 font-mono  text-3xl">
        <a href={link1} class="animate__animated animate__fadeInLeft ">{section1}</a>
       
      <a href={link2} class="animate__animated animate__fadeInRight">{section2}</a>
        
      </div>
</body>
</html>